{% extends 'base.html.twig' %}

{% block body %}
    <h1>Schedule</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ schedule.id }}</td>
            </tr>
            <tr>
                <th>Time</th>
                <td>{% if schedule.time %}{{ schedule.time|date('H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('schedule_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('schedule_edit', { 'id': schedule.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
