{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <article class="col-md-12">
            <div class="page-header">
                <a href="{{ path('monCompte_index') }}" class="btn btn-success pull-right">Retour</a>
                <h1>Changement de votre mot de passe</h1>
            </div>
            <div class="well">

                {{ form_start(form) }}
                {{ form_widget(form) }}
                <input class="btn btn-success" type="submit" value="Confirmer" />
                {{ form_end(form) }}
            </div>
        </article>
    </div>
    {{ error }}
{% endblock %}
