{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <article class="col-md-12">
        <div class="page-header">
            <h1>Liste des clients</h1>
        </div>
        <div class="well">
            <div class="btn-group">
                {% for letter in alphabet %}
                    <a href="{{ path('user_index', {'initial': letter}) }}" class="btn btn-primary">{{ letter }}</a>
                {% endfor %}
                <a href="{{ path('user_index') }}" class="btn btn-primary">Tous</a>
            </div>
            <br />
            <br />
            <a href="{{ path('user_new') }}" class="btn btn-primary">Ajouter un nouveau client</a>

            <hr />

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th>Mail</th>
                        <th>Numéro de téléphone</th>
                        <th>Nom d'utilisateur</th>
                        <th>Commentaire</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.name }}</td>
                        <td>{{ user.firstname }}</td>
                        <td>{{ user.mail }}</td>
                        <td>{{ user.phonenumber }}</td>
                        <td>
                            {% if user.password == NULL %}
                                <a href="{{ path('user_confirm', { 'id': user.id }) }}" class="btn btn-default btn-xs">Confirmer le client</a>
                            {% else %}
                                <a href="{{ path('user_show', { 'id': user.id }) }}">{{ user.username }}</a>
                            {% endif %}
                        </td>
                        <td>{{ user.commentary }}</td>
                        <td class="btn-group">
                            <a href="{{ path('user_historic', { 'id': user.id }) }}" class="btn btn-default btn-xs">Voir</a>
                            <a href="{{ path('user_edit', { 'id': user.id }) }}" class="btn btn-default btn-xs">Modifier</a>
                            <a href="{{ path('user_delete', { 'id': user.id }) }}" class="btn btn-default btn-xs">Supprimer</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </article>
</div>
{% endblock %}
