{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <article class="col-md-12">
            <div class="page-header">
                <a href="{{ path('appointment_admin') }}" class="btn btn-success pull-right">Retour</a>
                {% for user in appointment.users %}
                    <h1>Ajouter un nouveau thème pour &laquo; {{ user }} &raquo;</h1>
                {% endfor %}
            </div>
            <div class="well">

                {{ form_start(form) }}
                {{ form_widget(form) }}
                <input class="btn btn-success" type="submit" value="Ajouter" />
                {{ form_end(form) }}
            </div>
        </article>
    </div>
{% endblock %}
